@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-placeholder-color: #000;
  --input-height: 59.4px;
  --input-radius: 16px;

  --dn-checkbox-color: transparent;
  --dn-checkbox-size: 19.2px;
  --dn-checkbox-border-width: '0.8px';
}

@media screen(lg) {
  :root {
    --input-radius: 20px;
    --dn-checkbox-size: 20px;
    --dn-checkbox-border-width: '1px';
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  height: 100dvh;
}
body {
  @apply overflow-hidden bg-black scroll-smooth;
  font-family: 'HelveticaNowDisplay', sans-serif;

  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;

  scroll-snap-points-y: repeat(300px);
}

.dn-scroll-container section {
  height: 100%;
  max-height: 755px !important;
  scroll-snap-align: start !important;
  scroll-snap-stop: always !important;
}

.container {
  @apply pl-[14px] pr-[15.64px] lg:!px-10;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-ExtraBold.woff2');
  font-weight: 800;
}

.mantine-Input-input {
  @apply text-black text-body h-10 lg:h-[59.4px] rounded-md;
}

.mantine-Checkbox-input,
.mantine-Checkbox-input:checked,
.mantine-Checkbox-inner {
  height: var(--dn-checkbox-size);
  background-color: var(--dn-checkbox-color);
  width: var(--dn-checkbox-size);
}
.mantine-Checkbox-body,
.mantine-Checkbox-input,
.mantine-Checkbox-input:checked,
.mantine-Checkbox-root {
  @apply !border-none;
}

.mantine-Checkbox-inner {
  @apply !border-neutrals-cool-gray;
  border-width: var(--dn-checkbox-border-width) !important;
  height: var(--dn-checkbox-size);
  width: var(--dn-checkbox-size);
}

.mantine-InputWrapper-root {
  @apply flex flex-col gap-[6.4px] lg:gap-2;
}
.mantine-InputWrapper-label {
  @apply text-black text-m-eyebrow lg:text-eyebrow;
  text-transform: uppercase;
}

.mantine-InputWrapper-required {
  @apply text-black;
}

.mantine-Input-input {
  @apply border-neutrals-cool-gray placeholder:text-black ring-accents-pink placeholder:text-body;
  height: 50px;
  padding: 20px;
  border-radius: var(--input-radius);
}

section.mantine-Modal-content {
  @apply !w-full lg:!w-[528px] px-3 py-3 lg:p-10;
}

.mantine-Modal-body {
  padding: 0;
}

.mantine-Checkbox-inner svg {
  @apply -left-[2px] -top-[2px] !size-[19px];
}

#register-form {
  scroll-margin-top: 100px;
}
