@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-placeholder-color: #000;
  --input-height: 59.4px;
  --input-radius: 16px;

  --dn-checkbox-color: transparent;
  --dn-checkbox-size: 19.2px;
  --dn-checkbox-border-width: '0.8px';
}

@media screen(lg) {
  :root {
    --input-radius: 20px;
    --dn-checkbox-size: 20px;
    --dn-checkbox-border-width: '1px';
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  height: 100dvh;
}
body {
  @apply scroll-smooth;
  font-family: 'HelveticaNowDisplay', sans-serif;
}

.container {
  @apply pl-[14px] pr-[15.64px] lg:!px-10;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-ExtraBold.woff2');
  font-weight: 800;
}

.mantine-Input-input {
  @apply text-black text-body h-10 lg:h-[59.4px] rounded-md;
}

.mantine-Checkbox-input,
.mantine-Checkbox-input:checked,
.mantine-Checkbox-inner {
  height: var(--dn-checkbox-size);
  background-color: var(--dn-checkbox-color);
  width: var(--dn-checkbox-size);
}
.mantine-Checkbox-body,
.mantine-Checkbox-input,
.mantine-Checkbox-input:checked,
.mantine-Checkbox-root {
  @apply !border-none;
}

.mantine-Checkbox-inner {
  @apply !border-neutrals-cool-gray;
  border-width: var(--dn-checkbox-border-width) !important;
  height: var(--dn-checkbox-size);
  width: var(--dn-checkbox-size);
}

.mantine-InputWrapper-root {
  @apply flex flex-col gap-[6.4px] lg:gap-2;
}
.mantine-InputWrapper-label {
  @apply text-black text-m-eyebrow lg:text-eyebrow;
  text-transform: uppercase;
}

.mantine-InputWrapper-required {
  @apply text-black;
}

.mantine-Input-input {
  @apply border-neutrals-cool-gray placeholder:text-black ring-accents-pink placeholder:text-body;
  height: 50px;
  padding: 20px;
  border-radius: var(--input-radius);
}

.mantine-Modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

section.mantine-Modal-content {
  @apply !w-screen lg:!w-[703px] lg:min-w-[703px];
  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dn-modal-register .mantine-Modal-content {
  @apply !px-3 !py-3 lg:!p-10;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.mantine-Modal-content::-webkit-scrollbar {
  display: none;
}

.mantine-Modal-body {
  padding: 0;
}

.mantine-Checkbox-inner svg {
  @apply -left-[2px] -top-[2px] !size-[19px];
}

#register-form {
  scroll-margin-top: 100px;
}

.bg-gr-header {
  transition: background 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
}

/* START: Accordion */
@media (max-width: 1024px) {
  .dn-article-body__content > .mantine-Accordion-root > .mantine-Accordion-item > button.mantine-Accordion-control {
    @apply -mx-5 px-5 w-[calc(100vw_+_10px)] overflow-clip !border-b !border-b-neutrals-beige;
  }
  .mantine-Accordion-content::before {
    @apply bg-white absolute top-0 right-0 bottom-0 -left-5 overflow-clip -z-10;
    width: calc(100vw + 10px);
    content: '';
  }

  .mantine-Accordion-content {
    @apply p-0 relative bg-transparent;
  }
  .mantine-Accordion-control:not([data-active='true']) .dn-micro-detail > div {
    @apply !bg-neutrals-cool-gray-5;
  }

  .mantine-Accordion-control:not([data-active='true']) .dn-micro-detail > p {
    @apply !text-neutrals-cool-gray-5;
  }
}

.dn-header__wrapper {
  overscroll-behavior: auto;
}
.dn-header__wrapper.dn-header__wrapper--open {
  overscroll-behavior: contain !important;
}

/* START: Article Card */
.dn-modal-article--mobile .mantine-Modal-inner {
  @apply !p-0 bg-white;
}

.dn-modal-article--mobile .mantine-Paper-root {
  @apply shadow-none;
}

.dn-modal-article--mobile .mantine-Modal-content {
  @apply max-h-none;
}

.dn-modal-article .mantine-Modal-content,
.dn-modal-register .mantine-Modal-content {
  @apply !rounded-none;
}

/* START: sidebar */
.dn-section__article
  > .dn-section__article__sidebar-item--active:not(:first-of-type)
  > .dn-micro-detail
  > .dn-colored-box,
.dn-section__article .dn-section__article__sidebar-item--inactive > .dn-micro-detail > .dn-colored-box {
  @apply bg-[#eeeeee];
}

.dn-section__article
  > .dn-section__article__sidebar-item--active:not(:first-of-type)
  > .dn-micro-detail
  > .dn-colored-box
  + p,
.dn-section__article .dn-section__article__sidebar-item--inactive > .dn-micro-detail > .dn-colored-box + p {
  @apply !text-neutrals-cool-gray-5;
}
/* END: sidebar */

/* START: scrollbar */
.scrollbar-always-visible {
  scrollbar-gutter: stable;
  scrollbar-color: #000000;
}

.scrollbar-always-visible::-webkit-scrollbar {
  width: 3px; /* For Chrome, Safari, and Opera */
  border-width: 3px;
  height: 3px;
  border: 1px solid #d5d5d5;
}

.scrollbar-always-visible::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 0px;
  border: 3px solid transparent;
}

.scrollbar-always-visible::-webkit-scrollbar-track-piece {
  background: #e8e3d8 !important;
  border-color: white;
  border-width: 0;
  border-style: solid;
}

.dn-section__article__body p a {
  @apply underline-offset-[7] underline;
}
